{% extends "qhome/base.html" %}

{% block content %}
    <a class="btn btn-outline-primary btn-sm mb-1" href="{% url 'match-create' %}">Add Queue</a>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Venue Name</th>
          <th>Players</th>
          <th>Court</th>
          <th>Interval</th>
          <th>Date</th>
          <th></th>
          <th></th> 
        </tr>
      </thead>
      <tbody>
        {% for queue in queues_list %}
            <tr>
              <td>{{ queue.type.type }}</td>
              <td>{{ queue.team1_p1.first_name}} {{queue.team2_p1.first_name }}</td>
              <td>{{ queue.court.venue }} {{ queue.court.court_name }}</td>
              <td>{{ queue.duration }}</td>

              <td>{{ queue.creation_date }}</td>
              <td> <a class="btn btn-secondary btn-sm mt-1 mb-1" href = "{% url 'match-update' queue.m_id %}">Update</a></td>
              <td> <a class="btn btn-danger btn-sm mt-1 mb-1" href = "{% url 'match-delete' queue.m_id %}">Delete</a></td>
            </tr>
        {% endfor %}

        </tr>
      </tbody>
    </table>

{% endblock content %}
