{% extends "qhome/base.html" %}

{% block content %}
	<table class="table table-hover">
	  <thead class="thead-dark">
	    <tr>
	      <th>Date</th>
	      <th>Court Count</th>
	      <th>On Going</th>
	      <th><th> 
	    </tr>
	  </thead>
	  <tbody>
	  	{% for record in queue_records %}
	  		<tr>
		      <td>{{ record.queue_date }}</td>
		      <td>{{ record.court_count }}</td>
		      <td>{{ record.on_going }}</td>
		      <td> <a class="btn btn-secondary btn-sm mt-1 mb-1" href = "{% url 'queue-records-update' record.id %}">Update</a></td>
		    </tr>
	  	{% endfor %}

	    </tr>
	  </tbody>
	</table>
{% endblock content %}
