{% extends "queues/base.html" %}


{% block content %}
    <div class="container">
        <div class="center-align">
            <h3>Match Records</h3>
        </div>
        <div class="row valign-wrapper">
            <!-- <div class="center-align"> -->
                <div class="col s6 offset-s3">
                    <div class="card">
                        <div class="card-content">
                            <form method="get">
                                <!-- {% csrf_token %} -->
                                {{ filter.form.as_p }}
                                <div class="center-align">
                                    <button class="btn waves-effect waves-light center" type="submit">Search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        </div>
        <table class="highlight responsive-table">
            <thead>
                <tr>
                    <th>Queue</th>
                    <th>Court</th>
                    <th>Umpire</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Players</th>
                    <th>Winner(s)</th>
                </tr>
            </thead>

            <tbody>
                {% for match in match_list%}
                    <tr>
                        <td>{{ match.queuedAt.match_type }} - {{ match.queuedAt.created|date:"m/d/Y" }}</td>
                        <td>{{ match.court_num }}</td>
                        <td>{{ match.umpire }}</td>
                        <td>{{ match.startDT|date:"h:i A" }}</td>
                        <td>{{ match.endDT|date:"h:i A" }}</td>
                        <td>
                            <ul>
                                {% for player in match.players.all %}
                                    <li>{{ player.first_name }} {{player.last_name}}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <ul>
                                {% for player in match.winner.players.all %}
                                    <li>{{ player.first_name }} {{player.last_name}}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}