{% extends "qhome/base.html" %}

{% block content %}
     <div class="card">
          <img class="card-img-top" src="/static/qhome/homebg.jpg" alt="Card image cap">
          <div class="card-body">
               <h4 class="card-title"><center>Q</center></h4>
               <p class="card-text">
                    <center>
                         Welcome to Q!
                         This is a simple queue manager for badminton matches.
                    </center>
               </p>
               <center>
                    <a href="#!" class="btn btn-primary">See our Tutorial. It's easy!</a>
               </center>
               
          </div>
     </div>

{% endblock content %}

