{% extends "qhome/base.html" %}

{% block content %}
    <div class="table-responsive text-nowrap table-sm">
      <table class="table table-hover">
        <thead class="thead-bg-light">
          <tr>
            <th> <a class="btn btn-link" href="{% url 'venues-create' %}">+</a> </th>
            <th>Venue name</th>
            <th></th>
            <th></th> 
          </tr>
        </thead>
        <tbody>
          {% for venue in venues_list %}
              <tr>
                <td></td>
                <td>{{ venue.venue_name }}</td>
                <td> <a class="btn btn-secondary btn-sm mt-1 mb-1" href = "{% url 'venues-update' venue.venue_id %}">Update</a></td>
                <td> <a class="btn btn-danger btn-sm mt-1 mb-1" href = "{% url 'venues-delete' venue.venue_id %}">Delete</a></td>
              </tr>
          {% endfor %}

          </tr>
        </tbody>
      </table>
    </div>

{% endblock content %}
